.navigation__header-list {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 28px;
    list-style: none;
    padding: 0;
}

.navigation__header-link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-main-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}

@media screen and (width < 768px) {
    .navigation__header{
        display: none;
        transition: opacity 0.2s ease;
        position: fixed;
        top:0;
        left:0;
        height: 100vh;
        width: 100vw;
    }
    #burger:checked + .header__burger + .navigation__header {
        z-index: 1;
        display: block;
        background-color: var(--accent-color-2);
        animation: show .2s ease;
        .navigation__header-list {
        grid-template-rows: repeat(6, auto);
        grid-template-columns: 100%;
        justify-content: center;
        justify-items: center;
        }
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}